* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body,
html {
	height: 100%;
}

body {
	padding: 3%;
}

section {
	margin: 2% 0;
}

/* ********************** */
/* NAVBAR */
/* ********************** */

nav {
	/* margin: 2% 0; */
}
.navbar {
	background: #396afc; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2948ff, #396afc); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2948ff,
		#396afc
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	list-style: none;
	/* margin: 2% 0; */
	/* padding: 2%; */
	color: white;
	font-weight: bold;
	justify-content: space-between;
}
.navbar li {
	/* padding: 2%; */
	/* display: flex; */
	text-align: center;
	line-height: 30px;
}
.navbar a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 30px;
}
.navbar a:hover {
	cursor: pointer;
	background: rgba(0, 0, 255, 0.6);
	transition: background 0.5s;
	border-radius: 10%;
}
/* ********************** */
/* HERO */
/* ********************** */
.hero {
	height: 500px;
	background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2F1504278589%2Fpikes-peak-COLORADOSPRINGS0917.jpg&f=1&nofb=1");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
	animation: fadeIn 2s linear;
}
.title-container {
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 15%;
	left: 50%;
	width: 50%;
	font-size: 1.4em;
	transform: translate(-50%, -50%);
	/* opacity: 0.9;*/
}
.title-container h5 {
	margin: 2% 0;
}
/* ********************** */
/* AILMENTS */
/* ********************** */
.ailments {
	background: black;
	position: relative;
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bg-video {
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0.3;
}
.bg-video video {
	height: 100%;
	width: 100%;
	position: absolute;
	object-fit: cover;
}
.ailments-text {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	color: white;
	font-size: 1.3rem;
	justify-items: center;
}
.conditions-header {
	grid-column: 1/-1;
}
/* ********************** */
/* ABOUT */
/* ********************** */
.about {
	background: green;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(45vw, 1fr)
	); /* grid-template-rows: repeat(9, 1fr); */ /* height: 90vh; */
	grid-gap: 1rem;
	justify-items: center;
}
.treatment-header {
	grid-column: 1/-1;
	/* grid-row: span 1; */
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.treatment {
	/* grid-column: span 1; */
	background: yellow;
	perspective: 1000px;
	cursor: pointer;
	animation: pulsate 3s ease-out infinite;
	height: 40vh;
	width: 95%;
}
.needle,
.adjust,
.estim {
	/* grid-row: 2/span 4; */
}
.graston,
.art,
.myo {
	/* grid-row: 6/span 4; */
}
.graston .treatment-front {
	background: url("https://www.pthealth.ca/app/uploads/2017/05/GrastonTechnique-881x441.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.art .treatment-front {
	background: url("https://www.schabelperformancehealth.com/wp-content/uploads/2016/02/active-release-therapy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.myo .treatment-front {
	/* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTnZRXjCxpruOSnnlOq6LeRYyZZ3r7YDFObcvsXFHNf4TPLSYhi"); */
	background: url("https://i0.wp.com/post.healthline.com/wp-content/uploads/2019/06/Male_Physical_therapy_1296x728-header-1296x728.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.estim .treatment-front {
	background: url("https://www.verywellhealth.com/thmb/2d2P9YyCqTHVcx0Iqc25tbKR3rA=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/130111344-56a72aa85f9b58b7d0e780a7.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.needle .treatment-front {
	/* background: url("https://i.ytimg.com/vi/SNlEGGprixg/maxresdefault.jpg"); */
	background: url("https://www.healthline.com/hlcmsresource/images/topic_centers/1200x628_FACEBOOK_-Dry_Needling_vs._Acupuncture_Which_Is_Right_for_You.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.adjust .treatment-front {
	background: url("https://timesofindia.indiatimes.com/thumb/msid-70676204,width-800,height-600,resizemode-4/70676204.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
/* .treatment img {
	width: 30vw;
	object-fit: cover;
} */
.treatment:hover .flip-container {
	transform: rotateY(180deg);
}
.flip-container {
	transition: all 0.5s ease-in-out;
	position: relative;
	transform-style: preserve-3d;
	height: 100%;
}
.treatment-front,
.treatment-reverse {
	backface-visibility: hidden;
	position: absolute;
}
.treatment-front {
	background: red;
	z-index: 2;
	transform: rotateY(0deg);
}
.treatment-reverse {
	background: blue;
	transform: rotateY(180deg);
}
/* .treatment-front:hover {
	transform: rotateY(180deg);
}
.treatment-reverse:hover {
	transform: rotateY(0deg);
} */
/* ********************** */
/* TESTIMONIALS */
/* ********************** */
.testimonials {
	background: orangered;
	padding: 5%;
	display: flex;
	justify-content: space-around;
	animation: fadeIn 3s linear;
}
.testimonial-card {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	background: blue;
	margin: 2%;
	text-align: center;
	padding: 2%;
}
.testimonial-card img {
	height: auto;
	width: 17rem;
	/* margin: 5%; */
	border-radius: 50%;
}
.testimonial-card p {
	line-height: 30px;
	letter-spacing: 0.1em;
}
/* ********************** */
/* DIRECTIONS */
/* ********************** */
.directions {
	display: flex;
	background: aquamarine;
	padding: 3%;
}
.direction-text {
	width: 20%;
}
.map {
	/* height: 400px; */
	background: purple;
	width: 80%;
}
/* ********************** */
/* CONTACT */
/* ********************** */
.email-form {
	background: linear-gradient(to right, #2948ff, #396afc); /* Chrome 10-25, Safari 5.1-6 */
	display: flex;
	flex-direction: column;
	padding: 2%;
	color: white;
	position: relative;
}
.email-form label {
	font-size: 1.3rem;
	margin: 0;
}
.email-form input {
	padding: 1%;
	width: 40%;
}
textarea {
	width: 80%;
	padding: 1%;
}
.email-form * {
	margin: 2%;
}
.form-submit-btn {
	align-self: center;
	padding: 1.5%;
	/* background: rgba(106, 90, 205, 1); */ /* background: rgba(41, 72, 255, 1); color: slateblue; */
	background: rgba(10, 166, 166, 1.0);
	width: 30%;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 2rem;
	padding: 1rem;
}
.form-submit-btn:hover {
	cursor: pointer;
	transform: scale(
		1.02
	); /* background: rgba(106, 90, 205, 0.5); color: slateblue; */ /* background: rgba(41, 72, 255, 0.6); color: slateblue; */
	background: rgba(10, 166, 166, 0.6); /* color: slateblue; */
}
.confirm-msg {
	display: none;
}
.show {
	display: block;
	background: green;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	color: white;
	font-size: 1.4rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fadeOut 3s linear;
}
/* ********************** */
/* ANIMATIONS */
/* ********************** */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.25;
	}
	100% {
		opacity: 0;
	}
}
@keyframes pulsate {
	/* 0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	} */
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1.0);
	}
}
